.covid-19-app {
  direction: rtl;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
  margin-bottom: 2rem;
}
.app-header h1{
  margin-bottom: 0;
}
.app-header .last-update{
  font-size: 1rem;
}

.introduction{
  margin-right: 5px;
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  padding: 2px;
  text-align: center;
  color: white;
  background-color: rgb(54, 53, 53);
}

footer>p{
  margin: 0;
}

footer a{
 color: inherit !important;
}
