.death-cases-panel{
    text-align: center;
    margin-top: 3rem;
}

.death-cases-panel h2{
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: lighter;
}

.death-cases-panel .charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}